body
{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  border: 5px solid black;
  background-color: lightgray;
  padding: 10px;
}

.sidebar
{
  float: left;
  width: 25%;
}

.green
{
  color: forestgreen;
  font-weight: 600;
}